[{"auth_key":"PASTE_YOUR_AUTH_KEY","google_ip":"216.239.38.120","name":"My Relay","port":8085,"script_id":"PASTE_YOUR_APPS_SCRIPT_DEPLOYMENT_ID","worker_url":"https://mhr-relay.YOUR-SUBDOMAIN.workers.dev"}]